<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Config 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingpaidang.crm.dao.merchant.MerchantMapper">
	<select id="findMerchantById" parameterType="long" resultType="com.jingpaidang.crm.domain.merchant.Merchant">
			SELECT
				id AS id,
				merchant_num AS merchantNum,
				login_name AS loginName,
				shop_name AS shopName,
				contact AS contact,
				telephone AS telephone,
				email AS email,
				company_name AS companyName,
				business_license AS businessLicense,
				business_license_address AS businessLicenseAddress,
				company_address AS companyAddress,
				phone_district_number AS phoneDistrictNumber,
				phone_number AS phoneNumber,
				legal_person AS legalPerson,
				business_type AS businessType,
				business_scope AS businessScope,
				created AS created,
				modified AS modified,
				operator AS operator,
				remark AS remark,
				status AS status,
				merchant_access_token AS merchantAccessToken,
				merchant_refresh_token AS merchantRefreshToken,
				access_token_expire_time AS accessTokenExpireTime,
				refresh_token_expire_time AS refreshTokenExpireTime,
				merchant_type AS merchantType
			FROM
					crm_merchant
			WHERE
					id=#{id}
				
					<!-- undo 判断条件 -->
	</select>
	
	<select id="findAllMerchant" resultType="com.jingpaidang.crm.domain.merchant.Merchant" parameterType="String">
			SELECT
				id AS id,
				merchant_num AS merchantNum,
				login_name AS loginName,
				shop_name AS shopName,
				contact AS contact,
				telephone AS telephone,
				email AS email,
				company_name AS companyName,
				business_license AS businessLicense,
				business_license_address AS businessLicenseAddress,
				company_address AS companyAddress,
				phone_district_number AS phoneDistrictNumber,
				phone_number AS phoneNumber,
				legal_person AS legalPerson,
				business_type AS businessType,
				business_scope AS businessScope,
				created AS created,
				modified AS modified,
				operator AS operator,
				remark AS remark,
				status AS status,
				merchant_access_token AS merchantAccessToken,
				merchant_refresh_token AS merchantRefreshToken,
				access_token_expire_time AS accessTokenExpireTime,
				refresh_token_expire_time AS refreshTokenExpireTime,
				merchant_type AS merchantType
			FROM
				crm_merchant
			WHERE
				status = #{status}
	</select>
	<insert id="insertMerchant" parameterType="com.jingpaidang.crm.domain.merchant.Merchant" useGeneratedKeys="true" keyProperty="id">
			INSERT into crm_merchant
			(
				merchant_num,
				login_name,
				shop_name,
				contact,
				telephone,
				email,
				company_name,
				business_license,
				business_license_address,
				company_address,
				phone_district_number,
				phone_number,
				legal_person,
				business_type,
				business_scope,
				created,
				modified,
				operator,
				remark,
				status,
				merchant_access_token,
				merchant_refresh_token,
				access_token_expire_time,
				refresh_token_expire_time,
				merchant_type
			)
			VALUES
			(
				#{merchantNum},
				#{loginName},
				#{shopName},
				#{contact},
				#{telephone},
				#{email},
				#{companyName},
				#{businessLicense},
				#{businessLicenseAddress},
				#{companyAddress},
				#{phoneDistrictNumber},
				#{phoneNumber},
				#{legalPerson},
				#{businessType},
				#{businessScope},
				#{created},
				#{modified},
				#{operator},
				#{remark},
				#{status},
				#{merchantAccessToken},
				#{merchantRefreshToken},
				#{accessTokenExpireTime},
				#{refreshTokenExpireTime},
				#{merchantType}
				
			)
	</insert>
	<update id="updateMerchant" parameterType="java.util.Map">
		UPDATE crm_merchant  
		SET
				merchant_num = #{merchant.merchantNum},
				login_name = #{merchant.loginName},
				shop_name = #{merchant.shopName},
				contact = #{merchant.contact},
				telephone = #{merchant.telephone},
				email = #{merchant.email},
				company_name = #{merchant.companyName},
				business_license = #{merchant.businessLicense},
				business_license_address = #{merchant.businessLicenseAddress},
				company_address = #{merchant.companyAddress},
				phone_district_number = #{merchant.phoneDistrictNumber},
				phone_number = #{merchant.phoneNumber},
				legal_person = #{merchant.legalPerson},
				business_type = #{merchant.businessType},
				business_scope = #{merchant.businessScope},
				created = #{merchant.created},
				modified = #{merchant.modified},
				operator = #{merchant.operator},
				remark = #{merchant.remark},
				status = #{merchant.status},
				merchant_access_token = #{merchant.merchantAccessToken},
				merchant_refresh_token = #{merchant.merchantRefreshToken},
				access_token_expire_time = #{merchant.accessTokenExpireTime},
				refresh_token_expire_time = #{merchant.refreshTokenExpireTime},
				merchant_type = #{merchant.merchantType}
		WHERE
				id = #{id}
	</update>
	<update id="deleteMerchantById" parameterType="java.util.Map">
		<!-- undo any operate -->
		UPDATE crm_merchant SET
				status = #{status}
		WHERE
				id = #{id}
		
	</update>
	
		<select id="findMerchantByMerchantNum" parameterType="long" resultType="com.jingpaidang.crm.domain.merchant.Merchant">
			SELECT
				merchant_num AS merchantNum
				
			FROM
					crm_merchant
			WHERE
					merchant_num = #{merchantNum}
				
					<!-- undo 判断条件 -->
	</select>

    <select id="findByAccess" resultType="Merchant" parameterType="String">
			SELECT
				merchant_num AS merchantNum,
				login_name AS loginName,
				shop_name AS shopName,
				contact AS contact,
				telephone AS telephone,
				email AS email,
				company_name AS companyName,
				business_license AS businessLicense,
				business_license_address AS businessLicenseAddress,
				company_address AS companyAddress,
				phone_district_number AS phoneDistrictNumber,
				phone_number AS phoneNumber,
				legal_person AS legalPerson,
				business_type AS businessType,
				business_scope AS businessScope,
				created AS created,
				modified AS modified,
				operator AS operator,
				remark AS remark,
				status AS status,
				merchant_access_token AS merchantAccessToken,
				merchant_refresh_token AS merchantRefreshToken,
				access_token_expire_time AS accessTokenExpireTime,
				refresh_token_expire_time AS refreshTokenExpireTime,
				merchant_type AS merchantType
			FROM
				crm_merchant
			WHERE
				 merchant_access_token=#{merchantAccessToken}
	</select>
			
	<update id="updateAccessToken" parameterType="Merchant">
             UPDATE
                  crm_merchant
              SET
                 merchant_access_token=#{merchantAccessToken}
              WHERE
                 id=#{id}
	</update>
	
</mapper>